*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.container{
    background-color: #00BFFF;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container{
    background-color: white;
    overflow-y: auto;
    height:470px;
    width: 320px;
    border: 1px solid black;
    border-radius: 5px;
}

.main_container:hover{
    transform: scale(1) rotate(2deg);
    transition-duration: 3s;
    transition-timing-function: linear;
  transition-delay: 1s;
}



.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 0.78rem;
    padding-bottom: 2rem ;
}

.media_platform{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.facebook{
    background-color: #0651b3;
    border: 1px solid #1877f2;
    width: 40%;
    display: flex;
   padding: 0.6rem;
   border-radius: 5px;
   padding-right: 1rem;
   padding-left: 1rem;
   justify-content: center;
   align-items: center;
}

.facebook i{
    font-size: 1.6rem;
     color: rgb(224, 217, 217);
}

.twitter{
    background-color: #1DA1F2 ;
    border: 1px solid #1DA1F2 ;
    width: 40%;
    display: flex;
     padding-right: 1rem;
   padding-left: 1rem;
    padding: 0.6rem;
     padding-right: 2rem;
    border-radius: 5px;
    justify-content: center;
   align-items: center;
}

.twitter i{
    font-size: 1.6rem;
    color: rgb(224, 217, 217);
}

span{
    display: block;
    color: azure;
    font-weight: 800;
    font-size: 1.1rem;
}

.inputes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 20px;
}


.email{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 280px; 
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
}

.email input{
    padding: 10px 5px 5px 0;
    border: none;
    flex: 1;
}

#I1::placeholder{
    font-size: 1.2rem;
    color: black;
}



#I2::placeholder{
    font-size: 1.2rem;
    color: black;
}



input:focus{
    outline: none;
}

.password{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    height: 50px;
    width: 280px;
    border-radius: 5px;
    padding: 0 10px;
}

.password input{
    padding: 10px 5px 5px 0;
    border: none;
    flex: 1;
}


.email i{
    font-size: 1.5rem;
}

.password i{
    font-size: 1.5rem;
}


.checkbox{
    display: flex;
    gap: 10px;
}

.checkbox a{
    text-decoration: none;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    background-color: rgb(84, 41, 124);
    border-radius: 5px;
}

.login button{
    font-size: 1.6rem;
    color: white;
    border: none;
    padding:10px 5px 2px 10px ;
    background-color: rgb(84, 41, 124);
}

.login button:hover{
    background-color: rgb(84, 41, 124);
    cursor: pointer;
}


.login:hover{
    cursor: pointer;
    transform: scale(1);
    transition-duration: 2s;
}

.signup{
    display:flex ;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.span1{
    color: #0651b3;
    font-size: 1.25rem;
}

.span1 a{
    text-decoration: none;
    font-size: 1.25rem;
}

